.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}

#delete-form {
  display: inline;
}

#title {
  text-align: center;
}

#container1 {
  width: 30%;
  margin: 25px auto;
}
